---
title: A page for you
layout: base.njk
---
<style>
p{
  font-size: 1.2rem;
  opacity: .75;
}
strong{
  color: #f39c12;
}
</style>

<div class="container">
  <h1>Welcome to JAMstack 🍯🔥</h1>
  <p>
    JAMstack is a modern architecture to create <strong>fast</strong> and <strong>secure sites</strong> and dynamic apps delivered by <strong>pre-rendering files</strong> and serving them directly from a <strong>CDN</strong>.
  </p>
</div>
<script src="/js/main.js" defer></script>